<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="../main.css" />
    <title>CAN 동아리 전산관리시스템</title>
  </head>
  <body>
    <div class="wrapper">
        <h1 class="title">CAN 동아리 전산관리시스템</h1>

        <div class="loginBoxAll">
            <div class="loginBox">
                <p class="loginTitle">로그인</p>
                <div class="inputBox">
                    <form action="/login" method="POST">
                        <p><span>아이디 : </span><input type="text" name="loginId"/></p>
                        <p><span>비밀번호 : </span><input type="password" name="loginPwd" /></p>
                        <button type="submit">로그인</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <hr>
        <footer>
            <br>
            <img src="logo.jpg" alt="logo" class="image1">
            <img src="can_logo.png" alt="logo" class="image2">
            <div class="text1">동서대학교 CAN 동아리 전산관리부</div>
            <div class="text1">COPYRIGHTⓒ 2023 CAN chh4031 All rights reserved.</div>
        </footer>
    </div>
  </body>
</html>
